<!DOCTYPE html>
<html>
<head>
  <title>Helpdesk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.keys.each do |key| %>
  <p class="<%= key.to_s %>"><%= flash[key] %></p>
<% end %>

<% if user_signed_in? %>
Signed in as <%= current_user.email %>
<% else %>
<%= link_to "Sign up", new_user_registration_path %>
<% end %>

<%= yield %>

</body>
</html>
